body{
  background-color: black;
}

::-webkit-scrollbar{
  width:20px;
}

::-webkit-scrollbar-track{
  background-color: #dddddd;
}

::-webkit-scrollbar-thumb{
  background-color:red;
}
/*-----------------Navbar---------------*/
.nav{
  background-color: black;
}
.nav-item{
  padding:0px 10px;
  position:relative;
  left:35px;
}
.navbar-brand{
  border:2px solid white;
  font-size:25px;
  font-family: 'Rowdies', cursive;
  color:red;
}
.bcnava{
  white-space: nowrap;
  font-size:18px;
  color:red;
  font-family: 'Ubuntu', sans-serif;
}
.navbar-brand:hover{
  color:red;
}
.bcnava:hover{
  color:azure; 
}
.navbar-toggler{
  background-color: red;
}
/*---------------------------------------*/


/*-----------------Home------------------*/  
.c-item{
  height:480px;
}
.c-img{
  height:100%;
  object-fit: cover;
}
.home{
  padding-bottom:60px;
}
/*---------------------------------------*/  

/*-------------HR---------------*/  
hr{
  border-top: dotted 10px;
  color:rgb(6, 252, 47);
  width:100px;
  margin:auto;
  padding-bottom:60px;
}
/*------------------------------*/  

/*-----------------Trainers------------------*/  
#trainers{
  background-color:black;
}
h1{
  color:red;
  border: 2px solid white;
  font-family: 'Kanit', sans-serif;
}
#trainers h3{
  color:red;
  font-family: 'Alata', sans-serif;
  font-size:50px;
  margin:4% 0% 4%;
  padding:0;
}
#trainers ul{
  color:white;
  font-family: '', sans-serif;
  font-size:23px;
  font-family: 'Rajdhani', sans-serif;
}
.trainers{
  height:300px;
}
.img{
  border: 5px solid red;
  border-radius:50%;
  height:25%;
  object-fit: cover;
  float:right;
}

/*---------------------------------------*/  

/*-----------------Gallery------------------*/  
  
.g-item{
  height:550px;
}
.g-img{
  height:100%;
  object-fit: cover;
}
.gallery{
  margin:5% 0% 5%;
}

/*-------------------------------------------*/  

/*----------------Pricing-----------------*/
.pricingrow{
  padding:15px;
  margin-top:70px;
  height:300px;
}
/*-----------------------------------------*/

/*----------------About Us-----------------*/
.aboutus{
  margin:0% 33%;
  padding:5%;
}
/*-----------------------------------------*/

/*----------------Contact-----------------*/
.contact{
  margin:5%;
}
.name,.query{
  width:50%;
}
.form-floating{
  margin-left:450px;
}
.alert{
  position: relative;
  left:450px;
}
/*-----------------------------------------*/

/*----------------Footer-----------------*/
.footer{
  background-color:red;
}
.copy{
  color:white;
  font-size: 18px;
}

/*-----------------------------------------*/

/*-----------------Responsive Settings------------------*/ 

  @media screen and (max-width: 992px){

   /*---------------Nav Bar-------------------*/
   .bcnava{
    font-size:15px;
  }
  /*------------------------------------------*/

  /*----------------Home---------------------*/
  .c-item{
    height:400px;
  }
  /*-----------------------------------------*/

  /*----------------Trainers-----------------*/
  #trainers h3{
    font-size:25px;
    margin-top:6%;
    left:2%;
  }
  /*-----------------------------------------*/

  /*----------------Pricing-----------------*/
  .pricingrow{
    height:500px;
  }
  /*-----------------------------------------*/

  /*----------------About Us-----------------*/
.aboutus{
  margin:0% 24.5%;
}
/*-------------------------------------------*/

/*----------------Contact-----------------*/
.form-floating{
  margin-left:190px;
}
.name,.query{
  width:350px;
}
.alert{
  left:193px;
}
/*-----------------------------------------*/
}

@media screen and (max-width: 415px){

 /*----------------Trainers-----------------*/
 .img{
  height:145px;
  position: relative;
  left:125px;
  float:none;
 }
 #trainers ul{
  position: relative;
  left:50px;
 }
 .trainerscol{
  height:100px;
 }
 /*-----------------------------------------*/

   /*----------------Pricing-----------------*/
   .pricingrow{
    height:930px;
    margin-left:20px;
    padding:5px;
  }
  /*-----------------------------------------*/

  /*----------------About Us-----------------*/
.aboutus{
  margin:0% 2%;
}
/*-------------------------------------------*/

/*----------------Contact-----------------*/
.form-floating{
  margin-left:30px;
}
.name,.query{
  width:280px;
}
.alert{
  left:0px;
}
/*-----------------------------------------*/
}

/*-------------------------------------------------------*/ 